## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
node_modules
npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/dist/
config.json
dev-config.json
vendor.js
api-model.json
