## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
node_modules
npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
/www-dist/
/demo-dist/
/docs-dist/
config.json
key.json
certs/
demo/vendor.js
